{% extends 'base.html' %}

{% block title %}Мои колоды{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1 class="mb-4">Мои колоды</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Название</th>
                            <th>Вопросы</th>
                            <th>Ответы</th>
                            <th>Всего карточек</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in deck_list %}
                            <tr data-id="{{ d.id }}">
                                <th>{{ forloop.counter }}</th>
                                <td><span>{{ d.title }}</span></td>
                                <td><span>{{ d.questions.count }}</span></td>
                                <td><span>{{ d.answers.count }}</span></td>
                                <td><span>{{ d.questions.count|add:d.answers.count }}</span></td>
                                <td>
                                    <div class="deck-buttons-wrapper">
                                        <button 
                                            class="delete-deck btn btn-outline-danger"
                                            type="button"
                                            data-id="{{ d.id }}"
                                        >
                                            Удалить
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <th colspan="6">
                                    <p>У вас пока нет колод. Вы можете её <a href="{% url 'game:create_deck' %}">создать</a>.</p>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js_scripts_after %}
<script>
    $(document).ready(function() {
        $('.delete-deck').click(function() {
            const deckId = Number($(this).attr('data-id'))

            fetch('/ajax-delete-deck/' + deckId, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                        $(`tr[data-id="${deckId}"]`).remove()
                    }
                })
        })
    })
</script>
{% endblock %}