/* Profile */

.profile-photo-wrapper {
    position: relative;
}

.profile-photo {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

.profile-photo-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-photo-upload {
    display: none;
}

.profile-photo-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.3);
    cursor: pointer;
    transition: .3s;
    opacity: 0;
}

.profile-photo-wrapper:hover .profile-photo-label {
    opacity: 1;
}

.profile-photo-label > img {
    display: block;
    width: 30%;
}


/* Мои ответы */

.my-answers {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
}

.my-answer {
    text-decoration: none;
    color: #000;
    transition: .3s;
    min-width: 0;
}

.my-answer__img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
}

.my-answer__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-answer__text .empty {
    opacity: .7;
}

.created-answers {
    width: 100%;
    display: flex;
    gap: 10px;
}

.modal-q-list .form-check-input {
    cursor: pointer;
}

.modal-q-list .form-check-label {
    cursor: pointer;
}

.modal-a-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.modal-a {
    position: relative;
    overflow: hidden;
    border-radius: 9px;
    cursor: pointer;
}

.modal-a.checked {
    box-shadow: 0px 0px 0 5px rgb(13,110,253);
}

.modal-a__label {
    cursor: pointer;
    position: relative;
}

.modal-a__label::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-a__label::after {
    content: '';
    display: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: rgb(13,110,253);
    position: absolute;
    top: 13px;
    right: 13px;
}

.modal-a__input:checked + .modal-a__label::after {
    display: block;
}

.modal-a__img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.modal-a__text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0,.5);
    padding: 0 10px;
    transition: .3s;
    transform: translateY(40px);
    height: 40px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 100%;
    margin-bottom: 0;
}

.modal-a:hover .modal-a__text {
    transform: translateY(0);
}