{% extends 'base.html' %}

{% block title %}Войти{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 offset-lg-3">
                <h1>Авторизация</h1>
                <p class="mb-5">Введите свои данные в форму ниже:</p>

                <form method="post" action=".">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.auto_id }}" class="form-label">{{field.label}}</label>
                            {{field}}
                            
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}