{% extends 'base.html' %}

{% block title %}Мои вопросы{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="mb-4">Создать вопрос</h2>
                <form id="questionForm" action="{% url 'game:ajax_create_question' %}" method="post">
                    {% csrf_token %}
                    {% for field in question_form.visible_fields %}
                        {% if field.is_checkbox %}
                            <div class="form-check mb-3">
                                <!-- <input class="form-check-input" 
                                    type="checkbox" 
                                    value="1" 
                                    id="{{flexCheckDefault}}"
                                > -->
                                {{field}}
                                <label class="form-check-label" for="{{field.auto_id}}">
                                    {{field.label}}
                                </label>
                            </div>
                        {% else %}
                            <div class="mb-3">
                                <label for="{{ field.auto_id }}" class="form-label">{{field.label}}</label>
                                {{field}}
                                {{field.errors}}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-dark">Создать</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Создать ответ</h2>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js_scripts_after %}
<script>
    $(document).ready(function() {
        
        questionForm = $('#questionForm')

        questionForm.submit(function(e) {
            e.preventDefault()
            
            const formData = new FormData($(this).get(0))
            let data = {}

            formData.forEach((value, name) => {
                if  (value == 'on' || value == 'off') {
                    data[name] = (value == 'on' ? true : false) 
                } else {
                    data[name] = value
                }
            })

            fetch($(this).attr('action'), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': data['csrfmiddlewaretoken'],
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                })
        })
    })
</script>
{% endblock %}