{% extends 'base.html' %}

{% block title %}Мои вопросы{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="d-flex align-items-center mb-4">
                <h1 class="my-0">Мои вопросы</h1>
                <p class="ms-4 mb-0 pt-3">Всего вопросов: <span class="count">{{ questions_list.count }}</span></p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Вопрос</th>
                        <th>Опубликован</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in questions_list %}
                        <tr>
                            <th><span class="question-num">{{ forloop.counter }}</span></th>
                            <td><span class="question-text">{{ q.text }}</span></td>
                            <td>
                                {% if q.is_published %}
                                    <span class="question-is-published">Да</span>
                                {% else %}
                                    <span class="question-is-published">Нет</span>
                                {% endif %}
                            </td>
                            <td class="d-flex">
                                <button class="update-question btn btn-outline-primary ms-auto"
                                    data-id="{{q.id}}"
                                >
                                    Редактировать
                                </button>
                                <button style="display: none;" 
                                    class="save-changes btn btn-outline-success ms-auto"
                                    data-id="{{q.id}}"
                                >
                                    Сохранить
                                </button>
                                <button 
                                    class="btn delete-question btn-outline-danger ms-2" 
                                    data-id="{{q.id}}"
                                >
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Ничего нет</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block js_scripts_after %}

<script>
    $(document).ready(function() {

        $('.delete-question').click(function() {
            const q_id = $(this).attr('data-id')
            
            fetch('/ajax-delete-question/' + q_id, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $(this).closest('tr').remove()
                        $('.count').text(Number($('.count').text() - 1))
                    }
                })
        })


        $('.update-question').click(function() {

            $(this).parent().find('button').hide()
            $(this).parent().find('.save-changes').show()

            const row = $(this).closest('tr')
            const num = row.find('.question-num').text()
            const text = row.find('.question-text')
            text.replaceWith(`
                <input class="form-control question-text-field" name="text" value="${text.text()}">
            `)
            const published = row.find('.question-is-published')
            published.replaceWith(`
                <div class="form-check question-is-published-field">
                    <input class="form-check-input" name='is_published' id="question_${num}" type="checkbox" 
                        ${published.text() == 'Да' ? 'checked' : ''}>
                    <label class="form-check-label" for="question_${num}">
                        Опубликован?
                    </label>
                </div>
            `)

        })

        $('.save-changes').click(function() {

            $(this).parent().find('button').show()
            $(this).hide()

            const row = $(this).closest('tr')
            const textField = row.find('.question-text-field')
            textField.replaceWith(`
                <span class="question-text">${textField.val()}</span>
            `)
            const publishedField = row.find('.question-is-published-field')
            publishedField.replaceWith(`
                <span class="question-is-published">${publishedField.find('input').is(':checked') ? 'Да' : 'Нет'}</span>
            `)
        })
    })
</script>

{% endblock %}