{% extends 'base.html' %}

{% block title %}Мои вопросы{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="d-flex align-items-center mb-4">
                <h1 class="my-0">Мои вопросы</h1>
                <span class="ms-4 pt-3">Всего вопросов: {{ questions_list.count }}</span>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Вопрос</th>
                        <th>Опубликован</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for q in questions_list %}
                        <tr>
                            <th><span>{{ forloop.counter }}</span></th>
                            <td><span>{{ q.text }}</span></td>
                            <td>
                                {% if q.is_published %}
                                    <span>Да</span>
                                {% else %}
                                    <span>Нет</span>
                                {% endif %}
                            </td>
                            <td class="d-flex">
                                <button 
                                    class="btn delete-question btn-outline-danger ms-auto" 
                                    data-id="{{q.id}}"
                                >
                                    Удалить
                                </button>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Ничего нет</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}

{% block js_scripts_after %}

<script>
    $(document).ready(function() {

        $('.delete-question').click(function() {
            const q_id = $(this).attr('data-id')
            
            fetch('/ajax-delete-question/' + q_id, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        $(this).closest('tr').remove()
                    }
                })
        })
    })
</script>

{% endblock %}