{% extends 'base.html' %}

{% block title %}Мои вопросы{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h2 class="mb-4">Создать вопрос</h2>
                <form id="questionForm" action="{% url 'game:ajax_create_question' %}" method="post">
                    {% csrf_token %}
                    {% for field in question_form.visible_fields %}
                        {% if field.is_checkbox %}
                            <div class="form-check mb-3">
                                {{field}}
                                <label class="form-check-label" for="{{field.auto_id}}">
                                    {{field.label}}
                                </label>
                            </div>
                        {% else %}
                            <div class="mb-3">
                                <label for="{{ field.auto_id }}" class="form-label">{{field.label}}</label>
                                {{field}}
                                <div class="invalid-feedback"></div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-dark">Создать</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2 class="mb-4">Создать ответ</h2>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js_scripts_after %}
<script>
    $(document).ready(function() {
        
        questionForm = $('#questionForm')

        questionForm.submit(function(e) {
            e.preventDefault()
            
            const formData = new FormData($(this).get(0))

            let data = {}

            formData.forEach((value, name) => {
                data[name] = value
            })

            const checkbox = $(this).find('input[type=checkbox]')
            checkbox.each(function(i, el) {
                data[$(el).attr('name')] = $(this).is(':checked')
            })

            fetch($(this).attr('action'), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': data['csrfmiddlewaretoken'],
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {

                    $(this).find('input, textarea').each(function(i, el) {
                        $(el).removeClass('is-invalid')
                    })
                    
                    if (data.hasOwnProperty('error')) {
                        Object.keys(data.error).forEach(function(key) {
                            const field = questionForm.find(`[name="${key}"]`)
                            field.addClass('is-invalid')
                            field.next('.invalid-feedback').text(data.error[key][0])
                        })
                    }

                    if (data.success) {
                        $(this).get(0).reset()
                    }
                })
        })
    })
</script>
{% endblock %}