{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Профиль{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="profile-photo-wrapper">
                    {% if profile.photo %}
                    {% thumbnail profile.photo "350x350" crop="center" as im %}
                    <img class="profile-photo" src="{{ im.url }}" alt="Profile photo">
                    {% endthumbnail %}
                    {% else %}
                    <img class="profile-photo" src="{% static 'img/no_profile_picture.png' %}" alt="No photo">
                    {% endif %}
                    {% if profile.id == request.user.profile.id %}
                    <form class="profile-photo-form" action="." method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="profile_photo_img" class="profile-photo-label">
                            <img src="{% static 'img/upload-photo.svg' %}" alt="">
                        </label>
                        <input type="file" id="profile_photo_img" class="profile-photo-upload">
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <h1 class="profile-name mb-4">
                    {{ user.first_name }} <span class="fs-3 text-muted">#{{profile.extra_id}}</span>
                </h1>
                <div class="row">
                    <div class="col-12">
                        <p>Дата регистрации: {{profile.registered|date:"d E Y"}} г.</p>
                    </div>
                    <div class="col-12">
                        <h4>Статистика:</h4>
                    </div>
                    <div class="col-md-4">
                        <p>Вопросов создано: {{ user.questions.count }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Ответов создано: {{ user.answers.count }}</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-8">
                        <p class="d-flex align-items-center">
                            Друзей ({{profile.friends.count}})
                            {% if request.user.profile.id == profile.id %}
                                <span class="btn btn-success add-friend ms-2" data-bs-target="#addFriend"
                                    data-bs-toggle='modal'>
                                    <i class="bi bi-plus-circle"></i>
                                </span>
                            {% endif %}
                        </p>
                        <div class="d-flex overflow-auto">
                            {% for friend in profile.friends.all %}
                                <a href="{{ friend.get_absolute_url }}">
                                    {% if friend.photo %}
                                        {% thumbnail friend.photo "65x65" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="Profile photo">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% static 'img/no_profile_picture.png' %}" alt="No photo">
                                    {% endif %}
                                    <div>
                                        {{friend.user.first_name}}
                                    </div>
                                </a>
                            {% empty %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="addFriend" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить в друзья</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="inviteFriendsForm" method="post">
                    {% csrf_token %}

                    <div class="mb-3 search">
                        <label class="form-label">
                            Введите логин или имя пользователя. <br>
                            <small class="text-muted">Введите идентификатор через # для более точного поиска</small>
                        </label>
                        <input type="search" id="name_search" name="name" placeholder="Имя#0000" class="form-control" autocomplete="off">
                        <div class="search-results" style="display: none;">
                            <ul class="list-group">

                            </ul>
                        </div>
                    </div>

                    <div>
                        <div class="search-chosen" style="display: none;">
                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary send-invites">Отправить</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_scripts_after %}

<script>
    window.throttle = function(func, wait, options) {
        var context, args, result;
        var timeout = null;
        var previous = 0;
        if (!options) options = {};
        var later = function () {
            previous = options.leading === false ? 0 : Date.now();
            timeout = null;
            result = func.apply(context, args);
            if (!timeout) context = args = null;
        };
        return function () {
            var now = Date.now();
            if (!previous && options.leading === false) previous = now;
            var remaining = wait - (now - previous);
            context = this;
            args = arguments;
            if (remaining <= 0 || remaining > wait) {
                if (timeout) {
                    clearTimeout(timeout);
                    timeout = null;
                }
                previous = now;
                result = func.apply(context, args);
                if (!timeout) context = args = null;
            } else if (!timeout && options.trailing !== false) {
                timeout = setTimeout(later, remaining);
            }
            return result;
        };
    };
</script>

<script>
    window.imgChangeURL = "{% url 'account:profile_change_photo' %}"

    $(document).ready(function() {

        const inviteForm = $('#inviteFriendsForm')
        const resultsBody = inviteForm.find('.search-results')
        const resultsList = resultsBody.find('.list-group')
        const chosenWrapper = inviteForm.find('.search-chosen')

        function searchFieldHandle(e) {
            e.preventDefault()

            if (!$(this).val().length) return

            const text = $(this).val()
            const [name, id=null] = text.split('#')

            const params = {}

            if (name) {params['name'] = name}
            if (id) {params['id'] = id}
            
            fetch('/account/ajax-search-profiles?' + new URLSearchParams(params), {
                method: 'GET',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
                .then(resp => resp.json())
                .then(data => {

                    if (data.users.length) {

                        resultsList.empty()
                        resultsBody.show()

                        data.users.forEach(function(user) {
                            resultsList.append(
                                `<a href="${user.profile_url}" data-user-id="${user.id}" class="list-group-item list-group-item-action">${user.username}#${user.extra_id}</a>`
                            )
                        })
                    } else {
                        resultsBody.hide()
                    }
                })
        }

        searchFieldHandleThrottled = throttle(searchFieldHandle, 1500)

        inviteForm.find('input[name="name"]').on('input', searchFieldHandleThrottled)
        inviteForm.find('input[name="name"]').focus('input', function() {
            resultsBody.show()
        })

        $(window).click(function(e) {
            if (!$(e.target).closest('.search').length) {
                resultsBody.hide()
            }
        })

        resultsBody.click(function(e) {
            e.preventDefault()

            if ($(e.target).hasClass('list-group-item')) {

                chosenWrapper.show()
                
                if (!chosenWrapper.find(`.badge:contains("${$(e.target).text()}")`).length) {
                    chosenWrapper.append(
                        `<a href="${$(e.target).attr('href')}" data-user-id="${$(e.target).attr('data-user-id')}" target="_blank" class="text-white badge rounded-pill bg-info text-dark">${$(e.target).text()}</a>`
                    )
                }

                resultsBody.hide()
            }

        })

        $('.send-invites').click(function() {
            
            let userIds = []
            chosenWrapper.find('.badge').each(function(idx, el) {
                userIds.push(Number($(el).attr('data-user-id')))
            })

            let data = new FormData()
            data.append('user_ids', userIds)
        
            fetch('/account/ajax-invite-friends/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'X-Requested-With': 'XMLHttpRequest'
                },
                body: data 
            })
                .then(resp => resp.json())
                .then(data => {
                    if (data.success) {
                        chosenWrapper.empty()
                        inviteForm.find('input[name="name"]').val('')
                    }
                })
        })
    })
</script>

{% endblock %}