<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Memotron</a>
            {% if request.user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-grow-1 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Посмотреть
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    href="{% url 'game:my_questions' %}"
                                >
                                    Мои вопросы
                                </a>
                            </li>
                            <li>
                                <a 
                                    href="{% url 'game:my_answers' %}" 
                                    class="dropdown-item"
                                >
                                    Мои ответы
                                </a>
                            </li>
                            <li>
                                <a 
                                    href="{% url 'game:my_decks' %}" 
                                    class="dropdown-item"
                                >
                                    Мои колоды
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Создать
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    href="{% url 'game:create_question_or_answer' %}"
                                >
                                    Вопрос или ответ
                                </a>
                            </li>
                            <li>
                                <a 
                                    href="{% url 'game:create_deck' %}" 
                                    class="dropdown-item"
                                >
                                    Колоду
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="btn btn-success ms-2">Играть</a>
                    </li>
                    <li class="nav-item">
                        <a 
                            href="#"
                            class="btn btn-info ms-2"
                            data-bs-target="#createGame"
                            data-bs-toggle="modal"
                        >Создать игру</a>
                    </li>
                    <!-- <form class="d-flex ms-auto">
                        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
                        <button class="btn btn-outline-light" type="submit">Искать</button>
                    </form> -->
                    <li class="nav-item dropdown ms-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ request.user.first_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li>
                                <a 
                                    class="dropdown-item" 
                                    href="{% url 'account:self_account_profile' %}"
                                >
                                    Профиль
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Уведомления
                                    {% if new_notifications.count %}
                                        <span class="badge bg-warning text-dark">    
                                            {{new_notifications.count}}
                                        </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account:logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</header>